/* #root {
    width: 100%;
    display: flex;
    justify-content: center;
} */
.logo {
    width: 200px;
    height: auto;
    margin: 0 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 0 auto;
}

#home {
    color: whitesmoke;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 600;
    border-color: whitesmoke;
}

#top-bar {
    color: gray;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.img-welcome {
    height: 50px;
}

.img-welcome img {
    height: 470px;
    /* margin: 10px; */
    padding: 10px 0;
}

/* display: flex;
    justify-content: center; */

/* .img-welcome img {
    text-align: center;
} */

.welcom-box {
    width: 1102px;
    padding-top: 50px;
    /* z-index: 5; */
}

.container {
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    border: 0;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* .wlc {
    display: flex;
    justify-content: center;
} */
.welcom {
    /* color: #20c05c; */
    /* background-image: url(/Img/b-g-welcom.jpg); */
    /* padding-top: 50px; */
    width: 1102px;
    height: 400px;
    display: flex;
    justify-content: center;
    /* background-image: '/Img/b-g-welcom.jpg'; */
    background-color: #747474;
    margin: 0;
    z-index: -1;
    padding: 30px;
}

.welcom-box div {
    color: #20c05c;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.button-1 {
    width: 120px;
    height: 40px;
    border-color: #20c05c;
    border-radius: 8px;
    background-color: #20c05c;
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Arial;
    /* text-align: center; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px;
}

.button-2 {
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border-color: whitesmoke;
    /* display: flex;
    justify-content: space-around; */
    align-items: center;
    color: #747474;
    font-size: 5px;
    background-color: antiquewhite;
}

.product-img {
    text-align: center;
    margin: -20px 0 0 -20px;
}
.product-img img {
    height: auto;
    width: 378px;
}

/* .table-two-row1-1 text {
    margin-left: 10px;
} */

/* .table-two-row1 text {
    margin: 8px 2px;
} */

.table-two-row1 p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 8px 0;
}

.add-to-cart {
    display: flex;
    justify-content: center;
}

.other-recipes {
    width: 1302px;
    height: 500px;
    display: flex;
    justify-content: center;
    /* background-image: url(.../public/images/home_recipes2_sectionbg1.jpg); */
    margin: 10px 0px;
    /* background-color: #747474; */
}

.cont3 {
    height: 50px;
    padding: 10px;
}

.cont3 img {
    height: 600px;
    width: auto;
}

.other-recipes-box {
    width: 1102px;
    height: 400px;
    /* background-image: url('/images/back-g-home_recipes2.jpg'); */
    border-radius: 10px;
}

.other-recipes-box-content {
    width: 940px;
    height: 260px;
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    padding: 10px;
    /* background-color: gray; */
}

.other-recipes-box-content h6 {
    color: #20c05c;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.other-recipes-box-content h2 {
    color: rgb(148, 16, 16);
    font-size: 37px;
    line-height: 46px;
    letter-spacing: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.natural-products {
    /* background-image: url(images/home_recipes2_sectionbg2.jpg); */
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: '#1e1d26'; */
}
.natural-prod-img {
    height: 40px;
    margin: 0 -100px;
}

.natural-prod-img img {
    height: 790px;
    width: auto;
    margin: 30px;
}

.natural-products-box {
    margin: 80px 120px;
    width: 1024px;
    /* padding: 0 10px; */
}

.four-blocks-box img {
    width: 50px;
    height: auto;
}

.natural-products-box div {
    color: #20c05c;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.natural-products h2 {
    color: rgb(148, 16, 16);
    font-size: 37px;
    line-height: 46px;
    letter-spacing: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.natural-products-box p {
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 20px;
    font-weight: lighter;
}

.four-blocks-flex {
    width: auto;
    display: flex;
    justify-content: center;
}

.four-blocks {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.four-blocks-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    padding: 0 10px;
}

/* .four-blocks-box img {
    width: 50px;
    height: 50px;
    
  } */

.four-blocks-box h4 {
    color: rgb(148, 16, 16);
    font-family: Georgia, 'Times New Roman', Times, serif;

    font-size: 20px;
    margin: 10px 0;
}
.four-blocks-box p {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    letter-spacing: 1px;
    font-size: 14px;
}

.slider {
    width: 100%;
    height: 600px;
    display: flex;

    justify-content: center;
    /* background-image: url(images/b-g-testimonials.jpg); */
}
.testimonials-img {
    height: 0;
    padding: 80px 0 0 0px;
    margin: 0;
}

.testimonials-img img {
    height: 518px;
    width: auto;
}

.testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.testimonials-h2 {
    color: black;
    font-size: 37px;
    line-height: 46px;
    letter-spacing: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px 0 10px 0;
}
.foto {
    display: flex;
    justify-content: center;
}

.foto img {
    border-radius: 50%;
    margin-bottom: 5px;
}

.testimonials-quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.02);
    width: 80%;
    padding: 4px 0;
    margin: 5px auto;
}

/* .testimonials-quotes img {
    width: 46px;
    height: auto;
} */
.testimonials-quotes p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444444;
    letter-spacing: 1px;
    padding: 4px 2px;
    text-align: center;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #2e2d2d;
    text-align: center;
    margin: 2px;
}

.footer {
    width: 100%;
    height: 80px;
    display: flex;

    justify-content: space-between;
}
.footer-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    /* justify-content: flex-start; */
}
.footer-text img {
    margin: 0 10px;
}

.footer-text a {
    text-decoration: none;
    font-size: 14px;
    color: #444444;
}
.footer-text-a {
    margin: 0 6px;
    border-right: inset;
    border-right-color: #444444;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.footer-icons {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-icons img {
    width: 20px;
    height: auto;
    margin: 10px 10px;
}
.f-icon {
    padding: 0 10px;
}
